/* styles.css */
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modall2 {
    background: linear-gradient(to bottom, black, #333333, #666666);
    /* 0.5 represents 50% transparency */
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
    z-index: 10;
    height: 350px;
    display: block !important;
}

.outcome-text {
    color: white;
    text-shadow: 2px 2px 0 black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 72px;
}

.dollar {
    color: white;
    text-shadow: 4px 4px 0 black, -4px -4px 0 black, 4px -4px 0 black, -4px 4px 0 black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 96px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

/* Additional styling as needed */