#dealerhand {
    height: 250px;
}

#dealerhand p {
    color: white;
    text-shadow: 2px 2px 0 black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#dealerhand h2 {
    color: white;
    text-shadow: 2px 2px 0 black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}